<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content = "width=device-width, initial-scale=1.0">
	{% load staticfiles %}	
	<title>{% block tabtitle %}SAIS{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'management/css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'management/js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'management/js/bootstrap.js' %}"></script>
	{%block stylesheets%} {% endblock %}
</head>
<body class="body" style="background-color:#f6f6f6">
	<nav class="navbar navbar-default" id="headerbg">
	  <div class="container-fluid" style="min-height:95%; line-height: 50px;">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header" style="margin-top:3px;">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="{% url 'management:index' %}" ><img src="{% static 'management/img/UP.png' %}" class="responsive-img" style='max-height:60px;' alt="logo"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="vertical-align:bottom;">
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div> 
	        <button type="submit" class="btn btn-default" id="submit">Submit</button>
	      </form>

	      <ul class="nav navbar-nav navbar-right" style="margin-top:7px;">
	        <li><a href="{% url 'management:index' %}" style="vertical-align: bottom; text-align: center; color:white;font-size:15px;font-weight:300;">HOME</a></li>
	        {% block home %}{% endblock %}
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="vertical-align: bottom; text-align: center;color:white;font-size:15px;font-weight:300;">ACCOUNT <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#" class="dropdown-item">My Log-in Account</a></li>
	            <!-- <li><a href="#" class="dropdown-item">User Preferences</a></li> -->
	            <!-- <li><a href="#" class="dropdown-item">Personalizations</a></li> -->
	            <li role="separator" class="divider"></li>
                <li><a href="#">Security Settings</a></li>
	          </ul>
	        </li>
	        <li><a href="{% url 'management:log-out' %}" style="vertical-align: bottom; text-align: center;color:white;font-size:15px;font-weight:300;">SIGN OUT</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div id="wrapper">
	  <div class="box">
		<div class="row row-offcanvas row-offcanvas-left">
			<div class="column col-sm-2 col-xs-2 sidebar-offcanvas" id="sidebar" style="margin-top:-5px">
				{% block sidebar %}{% endblock %}
			</div>
			<div class="column col-sm-10 col-xs-10" id="main">
				{% block wayfinder %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>	
	  </div>	
	</div>
</body>
</html>