{% extends "management/enrollment.html" %}

{% block tabtitle %}Add Class{% endblock %}


{% block wayfinder %}
<div>
  <table width="100%">
    <tr>
      <td width="2%"></td>
      <td width="48%" align="left"><a href="{% url 'management:enrollment' %}" class="wayfinder" id="current"><i class="glyphicon glyphicon-arrow-left"></i> Back</a></td>
      <td width="50%" align="right"><a href="#" class="tool" style="margin-right:15px;">? Help</a></td>
    </tr>
  </table>
</div>
{% endblock %}

{% block title %}Add Class{% endblock %}

{% block body %}

{% block step %} 
	<a href="{% url 'management:add-class-one' %}">click me to add class:)</a>

	<br><br>

	<div class="col-md-12">
				
					<div style="padding-bottom:1px; padding-top:1px; outline: 1px solid darkgrey; background-color:#800000; color:#f6f6f6;">
						<h6 align="center">
							 Class Cart
						</h6>
					</div>
					<div>
					<table width="100%" rules="all" frame="box">
						<tr id="rowhead">
							<td align="center">Class</td>
							<td align="center">Description</td>
							<td align="center">Days/Times</td>
							<td align="center">Room</td>
							<td align="center">Instructor</td>
							<td align="center">Units</td>
							<td align="center">Status</td>
						</tr>
						<tr>
							<td>\sdldf </td>
							<td>aslkfj </td>
							<td>asdkjh </td>
							<td>ask.jh;jkasdf </td>
							<td> LASHFELHAfl </td>
							<td> askufgsDLF </td>
							<td> afkghfg </td>
						</tr>
						<tr>
							<td>\sdldf </td>
							<td>aslkfj </td>
							<td>asdkjh </td>
							<td>ask.jh;jkasdf </td>
							<td> LASHFELHAfl </td>
							<td> askufgsDLF </td>
							<td> afkghfg </td>
						</tr>
					</table>
					</div>
			</div>
{% endblock %}

<script type="text/javascript">
	$('#lg-menu').children().eq(3).addClass('sActive');
</script>
{% endblock %}

